<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centrado">
    <ion-img src="assets/perfil.svg"></ion-img>
    <br/>
    <ion-item>
      <ion-label position="floating">Rut</ion-label>
      <ion-input  name="rut" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input  name="nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input  name="apellido" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input  name="correo" required></ion-input>
    </ion-item>
  </div>
  <ion-button type="submit" expand="block" class="ion-margin-top">Editar Perfil</ion-button>
</ion-content>
