<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>balancin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-item>
      <ion-label position="floating">ID Balancin</ion-label>
      <ion-input  name="Id_balancin" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Estado</ion-label>
      <ion-input  name="Id_Estadob" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Id Area Verde</ion-label>
      <ion-input  name="Id_Area" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" class="ion-margin-top">Añadir Balancin</ion-button>
    <ion-button type="submit" expand="block" class="ion-margin-top">Editar Balancin</ion-button>
    <ion-button type="submit" expand="block" class="ion-margin-top">Eliminar Balancin</ion-button>
    <ion-button (click)="volver()" type="submit" expand="block" class="ion-margin-top">Volver</ion-button>
  </form>
</ion-content>
