.invalid-email-message {
    color: red; /* Cambia el color del texto a rojo */
    font-size: 14px; /* Cambia el tamaño de la fuente */
    font-style: italic; /* Cambia el estilo de la fuente a cursiva */
    margin-top: 5px; /* Agrega un poco de espacio en la parte superior */
  }
  