<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>maquina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-item>
      <ion-label position="floating">ID Maquina De Ejercicio</ion-label>
      <ion-input  name="Id_Maquina" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Estado</ion-label>
      <ion-input  name="Id_Estadom" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Id Area Verde</ion-label>
      <ion-input  name="Id_Area" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" class="ion-margin-top">Añadir Maquina De Ejercicio</ion-button>
    <ion-button type="submit" expand="block" class="ion-margin-top">Editar Maquina De Ejercicio</ion-button>
    <ion-button type="submit" expand="block" class="ion-margin-top">Eliminar Maquina De Ejercicio</ion-button>
    <ion-button (click)="volver()" type="submit" expand="block" class="ion-margin-top">Volver</ion-button>
  </form>
</ion-content>
