<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Buscar</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>Buscar Por:</p>
  <ion-button (click)="cancha()" type="submit" expand="block" class="ion-margin-top">Cancha</ion-button>
  <ion-button (click)="balancin()" type="submit" expand="block" class="ion-margin-top">Balancín</ion-button>
  <ion-button (click)="columpio()" type="submit" expand="block" class="ion-margin-top">Columpio</ion-button>
  <ion-button (click)="maquina()" type="submit" expand="block" class="ion-margin-top">Máquina De Ejercicio</ion-button>
  <ion-button (click)="mesa()" type="submit" expand="block" class="ion-margin-top">Mesa De Ping Pong</ion-button>
  <ion-button (click)="asiento()" type="submit" expand="block" class="ion-margin-top">Asiento</ion-button>
  <ion-button (click)="pileta()" type="submit" expand="block" class="ion-margin-top">Pileta</ion-button>
  <ion-button (click)="resbalin()" type="submit" expand="block" class="ion-margin-top">Resbalín</ion-button>
</ion-content>
