<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="login()">
    <div class="centrado">
      <ion-img src="assets/icono.svg"></ion-img>
      <br/>
    </div>
    <ion-item>
      <ion-input 
      formControlName="username"
      label="Rut"
      labelPlacement="floating"
      placeholder="Ingrese su rut"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-input type="password"  
      formControlName="password"
      label="Contraseña" 
      labelPlacement="floating"
      placeholder="Ingrese su contraseña"></ion-input>
    </ion-item>

    <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)">
      <ion-text color="danger" *ngIf="form.controls['password'].errors?.['required']">
        La contraseña es requerida.
      </ion-text>
    </div>

    <ion-button type="submit" expand="block" [disabled]="form.invalid" class="ion-margin-top">Ingresar</ion-button>
    <ion-button (click)="crearusuario()" expand="block" class="ion-margin-top">Crear Usuario</ion-button>
  </form>
</ion-content>
