<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>columpio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-item>
      <ion-label position="floating">ID columpio</ion-label>
      <ion-input  name="Id_columbio" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Estado</ion-label>
      <ion-input  name="Id_comentario" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" class="ion-margin-top">Añadir Columpio</ion-button>
    <ion-button type="submit" expand="block" class="ion-margin-top">Editar Columpio</ion-button>
    <ion-button type="submit" expand="block" class="ion-margin-top">Eliminar Columpio</ion-button>
  </form>
</ion-content>
