<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reseña</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">ID Área</ion-label>
    <ion-input  name="Id_area" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">ID Reseña</ion-label>
    <ion-input  name="Id_resenia" required></ion-input>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-select placeholder="Seleccione una nota">
        <div slot="label">Calificaciones</div>
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button type="submit" expand="block" class="ion-margin-top">Añadir Calificación</ion-button>
    <ion-button type="submit" expand="block" class="ion-margin-top">Cambiar Calificación</ion-button>
    <ion-button type="submit" expand="block" class="ion-margin-top">Eliminar Calificación</ion-button>
</ion-content>
